<!DOCTYPE html>
<html>
    <%- include('layouts/partials/header.ejs') %>
    <body>
        <div class="container">
            <h1>Bienvenidos</h1>
            <div id="app">
                <form action="/productos" method="POST" enctype="multipart/form-data">
                    <div>
                        <label for="name">Title </label>
                        <input name="title" />
                    </div>
                    <div>
                        <label for="name">Price </label>
                        <input name="price" />
                    </div>
                    <div>
                        <label for="img">Thumbnail </label>
                        <input type="file" name="img" />
                        </div>        
                    <div>
                        <button type="submit">Enviar</button>
                    </div>
                </form>
                <div align="center">
                    <p><a href="/productos">Listar productos</a></p>
                </div>
            </div>
        </div>
    </body>
</html>